[submodule "libs/MTPencil"]
	path = libs/MTPencil
	url = https://github.com/mysterioustrousers/MTPencil.git
[submodule "libs/MTDates"]
	path = libs/MTDates
	url = https://github.com/mysterioustrousers/MTDates.git
[submodule "libs/MTAnimation"]
	path = libs/MTAnimation
	url = https://github.com/mysterioustrousers/MTAnimation.git
[submodule "libs/MTMigration"]
	path = libs/MTMigration
	url = https://github.com/mysterioustrousers/MTMigration.git
