<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>File</key>
			<string>https://www.tinkerlearn.com/</string>
			<key>Title</key>
			<string>Learn to make apps...</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVMigrateToRemindersViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Migrate Tasks to Reminders</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Events</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVEventDefaultAlarmsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Default Event Alarms</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVAllDayEventDefaultAlarmsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Default All-day Event Alarms</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3600</integer>
			<key>Key</key>
			<string>DefaultDuration</string>
			<key>Title</key>
			<string>Default Duration</string>
			<key>Titles</key>
			<array>
				<string>0m</string>
				<string>15m</string>
				<string>30m</string>
				<string>45m</string>
				<string>1hr</string>
				<string>1hr 30m</string>
				<string>2hr</string>
				<string>3hr</string>
				<string>4hr</string>
				<string>5hr</string>
				<string>6hr</string>
				<string>24hr</string>
				<string>2d</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>900</integer>
				<integer>1800</integer>
				<integer>2700</integer>
				<integer>3600</integer>
				<integer>5400</integer>
				<integer>7200</integer>
				<integer>10800</integer>
				<integer>14400</integer>
				<integer>18000</integer>
				<integer>21600</integer>
				<integer>86400</integer>
				<integer>172800</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>AlwaysAskForCalendar</string>
			<key>Title</key>
			<string>Ask For Calendar</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>FooterText</key>
			<string>Please see FAQ for more information.</string>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Notifications</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Key</key>
			<string>BadgeOrAlerts</string>
			<key>Title</key>
			<string>Icon Badge and Alerts</string>
			<key>Titles</key>
			<array>
				<string>Day of Month Badge Only</string>
				<string>Custom Alerts Only</string>
				<string>Badge and Alerts</string>
				<string>Neither</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVCustomAlertSoundsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Custom Alert Sound</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Calendars</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVCalendarsManagerViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Manage Calendars</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVEventDefaultCalendarViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Default Calendar</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVDayStartHourViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Day Start Hour</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVDayEndHourViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Day End Hour</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>MultipleExchangeAlarms</string>
			<key>Title</key>
			<string>Multiple Exchange Alarms</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Reminders</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVReminderCalendarManagerViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Manage Reminder Calendars</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVReminderDefaultCalendarViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Default Reminder Calendar</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>International</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVDefaultTimeZoneViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Use Time Zone</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>StartWeekOnWeekday</string>
			<key>Title</key>
			<string>Start Week On...</string>
			<key>Titles</key>
			<array>
				<string>Sunday</string>
				<string>Monday</string>
				<string>Tuesday</string>
				<string>Wednesday</string>
				<string>Thursday</string>
				<string>Friday</string>
				<string>Saturday</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>TwentyFourHourFormat</string>
			<key>Title</key>
			<string>24 Hour Format</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>The &quot;Duration Bars Read-only&quot; setting refers to the duration bars that appear in the day view table.  This will hide them for events that are read-only.</string>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Appearance</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVEventDetailsOrderViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Event Details</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVReminderDetailsOrderViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Reminder Details</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVEventSubtitleTextPriorityViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Event Subtitle Text</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>UseOutlinePortraitWeekView</string>
			<key>Title</key>
			<string>Use Week Outline Style</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>BarsOnMonthView</string>
			<key>Title</key>
			<string>Bars on month view</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Scrollable Month View (iPhone)</string>
			<key>Key</key>
			<string>ScrollableMonthView</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>ShowDurationOnReadOnlyEvents</string>
			<key>Title</key>
			<string>Duration Bars Read-only</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Illustrations provided by Gestureworks (www.gestureworks.com)</string>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Help</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVFAQViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>FAQ</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVKnowledgeBaseViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Knowledge Base</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVContactUsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Contact Us</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CVGestureHowToViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Gestures</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>About Us</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>File</key>
			<string>http://www.mysterioustrousers.com</string>
			<key>Title</key>
			<string>Mysterious Trousers, LLC.</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>MTAppsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Our apps</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
